@use './abstract' as a;

.contact {
    margin-top: 14rem;
    text-align: center;

    section {
        padding: 2rem 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        article {
            background-color: a.$color-second;
            color: #fff;
            padding: 10px 1rem;
            border-color: transparent;
            border-radius: 14px !important;

            i {
                margin-right: 10px;
                font-size: 1.3rem;
            }

            span {
                font-size: 1.3rem;
            }

            @media (max-width:992px) {

                i,
                span {
                    font-size: 1rem;
                }
            }
        }


        @media (max-width:768px) {
            flex-direction: column;
        }

        @media (max-width:483px) {
            article {
                display: flex;
                flex-direction: column;

                i {
                    margin: 5px;
                    font-size: 2rem;
                }
            }
        }
    }
}