@use './abstract' as a;

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__first {
        span {
            font-size: 1.8rem;
            color: a.$color-first;
        }

        span:nth-child(2) {
            font-size: 3.5rem;
            color: black;
        }

        span:nth-child(3) {
            font-size: 2.5rem;
            color: a.$color-first;
        }
    }

    &__second {
        display: flex;
        align-items: end;
        padding: 1rem 0;

        button {
            background-color: a.$color-second;
            color: #fff;
            padding: 6px 12px;
            border-color: transparent;
            border-radius: 6px !important;

            &:hover {
                color: #fff;
                background: #000;
            }
        }
    }

    @media (max-width:992px) {
        &__first span {
            font-size: 1.5rem;
        }

        &__first span:nth-child(2) {
            font-size: 2.2rem;
        }

        &__first span:nth-child(3) {
            font-size: 1.8rem;
        }

        &__profile img {
            max-width: 100%;
            width: 300px;
            height: 300px;
        }
    }

    @media (max-width:768px) {
        flex-direction: column;

        span {
            text-align: center;
        }

        &__second,
        .hello {
            justify-content: center;
        }

        &__profile {
            margin-top: 3rem;
        }
    }
}