@use './abstract' as a;

.port {
    margin-top: 14rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__item {
        padding: 3rem 5rem;
        display: flex;
        flex-flow: row wrap;
        gap: 3.6rem;

        section {
            border: 2px solid a.$color-fourth;
            border-radius: 14px;
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
        }

        img {
            max-width: 100%;
            border-radius: 14px;
        }

        h5 {
            /* margin-top: 1rem; */
            margin: 1rem 0;
        }

        span {
            margin-bottom: 1rem;
            color: a.$color-first;
            height: 100%;
        }

        button {
            width: 100%;
            padding: 5px;
            background-color: transparent;
            border: 2px solid a.$color-fourth;
            border-radius: 14px;
        }

        a {
            text-decoration: none;
            color: #6c757d;

            &:hover {
                text-decoration: underline;
            }
        }

        @media (max-width:1400px) {
            padding: 1rem;
            gap: 3.46rem;
        }

        @media (max-width:1200px) {
            gap: 2.89rem;
        }

        @media (max-width:991px) {
            gap: 3.4rem;

            section {
                width: 46%;
            }
        }

        @media (max-width:768px) {
            section {
                width: 100%;
            }
        }

        @media (max-width:365px) {
            // border: 1px solid red;
        }
    }
}