.Contact {
    margin-top: 14rem;
    text-align: center;
}

.Contact section {
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.Contact article {
    background-color: var(--bg-col);
    color: #fff;
    padding: 10px 1rem;
    border-color: transparent;
    border-radius: 14px !important;
}

.Contact i {
    margin-right: 10px;
    font-size: 1.3rem;
}

.Contact span {
    font-size: 1.3rem;
}

@media screen and (max-width:768px) {
    .Contact section {
        flex-direction: column;
    }
}

@media screen and (max-width:476px) {
    .Contact i {
        margin-right: 10px;
        font-size: 1rem;
    }

    .Contact span {
        font-size: 12px;
    }
}

@media screen and (max-width:361px) {
    .Contact i {
        margin-right: 10px;
        font-size: 1rem;
    }

    .Contact span {
        font-size: 11px;
    }
}