.Skill {
    margin-top: 14rem;
    text-align: center;
}

.SkillItem {
    padding: 3rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SkillItem .line-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem 0 0;
}

.SkillItem .line-hr1 {
    border: 2px solid #333652;
    width: 30px;
}

.SkillItem .line-hr2 {
    border: 3px solid #333652;
    height: 120px;
    border-style: dashed;
}

.SkillItem .content-item {
    display: flex;
}

.SkillItem section {
    display: flex;
}

.SkillItem article {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.SkillItem span {
    font-size: 1.3rem;
    color: var(--f-col);
}

.SkillItem hr {
    margin: 12px 0;
    border: 2px solid #7C7F96;
    opacity: 1;
}

@media screen and (max-width:992px) {
    .SkillItem {
        flex-direction: column;
    }


    .SkillItem .content-item:first-child {
        margin-right: 0 !important;
    }

    .SkillItem .content-item {
        margin-bottom: 2rem;
    }

    .SkillItem hr {
        width: 110px;
    }
}

@media screen and (max-width:768px) {
    .SkillItem {
        padding: 3rem;
    }
}

@media screen and (max-width:576px) {
    .SkillItem {
        align-items: center;
    }

    .SkillItem section {
        flex-direction: column;
    }

    .SkillItem .content-item:last-child section:last-child article {
        padding: 0 2rem 0 0;
    }

    .SkillItem hr {
        width: 120px;
    }

    .SkillItem .line-hr2 {
        height: 100%;
    }
}